@charset "UTF-8";



body{
    background-color: #aec2cfa2 ;
    }
/*Formatação login.html */
div#interface {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

div#interface form {
    width: 100%;
    max-width: 450px;
}

div#interface form input {
    margin-top: 8px;
}

div#interface form h2{
    color: #050d22;
    margin: 25px 0 25px 150px;
    font-size: 32px;
}

div#interface a{
    color: #050d22;
    margin: 40px 0 25px 86px;
    font-size: 18px;
}

div#interface button{
    margin-top: 10px;
    margin-bottom: 15px;
}

div#interface figure.logo-legenda {
    position: relative;
}
div#interface figure.logo-legenda img {
    margin: -40px 0 15px 102px; ;
    width: 230px;
    height: 230px;
}
figure.logo-legenda figcaption{
    font-size: 18px;
    color: #050d22;
    line-height: 25px;
    margin: 0px 0px 0px 35px; 
    position: relative;
}

/*Formatação resgiter.html*/

div#register-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
      
    display: flex;
    align-items: center;
    justify-content: center;
}

div#content section figure.seta-esquerda img{
    width: 20px;
    height: 15px;
    margin: 0px 0px 0px -45px; 
}

div#content section a {
    text-decoration: none;
    text-decoration-color: #050d22
}

div#content{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    padding: 96px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#content section {
    width: 100%;
    max-width: 380px;
}

div#content section img {
    width: 230px;
    height: 230px;
    margin: 0px 0px 0px 62px; 
}

div#content form h1 {
    color: #050d22;
    margin: 50px 0 32px;
    font-size: 32px;
}

div#content section p {
    
    font-size: 18px;
    color: #273a44;
    line-height: 25px;
}

div#content form {
    width: 100%;
    max-width: 450px;
}

form#content input {
    margin-top: 8px;
}
/*Formatação registerdone.html*/

div#janela {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    
    align-content: center;
    justify-content: center;

    display: block;
    position: absolute;
    top: 225px;
    left: 400px;
}

div#janela figure{ 
    display: inline-block;
    position: absolute;
    margin-left: 244px;
}
div#janela figure img{
    width: 20px;
    height: 15px;
    margin: 0px 0px 0px -45px; 
}
div#janela a{
    color: #050d22;
    margin: 40px 0 25px 0px;
    font-size: 18px;
}

/*Formatação inicio.html junto do header-padrão pós inicio*/
div#inicio-wrapper {
    min-height: 100%;
    position: relative;
}
div#inicio-container {
    padding-bottom: 80px;
    overflow: hidden;
}

div#inicio-content h1 {
    margin: 25px auto;
    text-align: center;
}
div#inicio-container header {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 150px;
    background: #aec2cfa2;

}

div#inicio-container header div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 100%;
    height: 52px;
    margin: 0 auto;
}

div#inicio-container header figure img {
    position: relative;
}

div#inicio-container header figure#logo img{
    height: 125px;
}

div#inicio-container header figure#logo span{
    position: absolute;
    top: 50%;
    left: 16%
}
div#inicio-container header figure#sair{
    align-content: center;
    vertical-align: middle;
}
div#inicio-container header figure#sair img {
    padding-left: 5px;
    position: absolute;
    height: 25px;
}

div#inicio-container header figure#sair a {
    align-content: center;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
}

div#inicio-container header figure#voltar{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
div#inicio-container header figure#voltar div{
    display: inline;
    padding: 5px;
    margin: 7px;
    align-content: center;
    vertical-align: middle;
}
div#inicio-container header figure#voltar img {
    position: absolute;
    height: 25px;
}

div#inicio-container header figure#voltar a {
    position: relative;
    text-decoration: none;
}
div#inicio-content {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    
    position: relative;
}

div#inicio-content header#h1 {
    height: 70px;
    background: none;
    margin: 10px auto;
    text-align: center;
}
div#inicio-content header#h1 h1 {
    margin: 2px auto;
}

/*Menu navegação*/

div#inicio-content div{
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: none;

}

div#inicio-content div#menu a img{
    height: 210px;
}

div#inicio-content div#roupa{
    max-width: 900px;
    margin: 30px auto;
}
div#inicio-content div#roupa a img{
    border: 2px solid #273a44;
    border-radius: 5px;
    height: 210px;
    width: 250px;

}

div#inicio-content div#medir{
    width: 100%;
    max-width: 1050px;
    margin: 10px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

div#inicio-content div#medir img{
    border: 2px solid #273a44;
    border-radius: 5px;
    height: 550px;
    width: 500px;
}
/*Formatação Global*/
form p{
    font-size: 18px;
    color: #273a44;
    line-height: 25px;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

input, button, textarea {
    font: 400 14px Roboto, sans-serif;
}

button{
    cursor: pointer;
    width: 500px;
    height: 60px;
    background: #273a44;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

button:hover{
    filter: brightness(90%);
}



